.env/
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
pyvenv.cfg

.idea


# Если используется PostgreSQL, можете добавить следующую строку
*.dump

*.log

media

# db.sqlite3-journal